<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ analytics_id }}');
</script>
    <title>Virgencita del clima</title>
</head>
<body style="text-align:center;">
    <img id="virgencita" src="static/celeste.jpg" onload="v()">
    <h1 id="porcentaje"></h1>
    <p><a href="https://github.com/reynico/virgencita">Made with love by @gnasr and @reynico</a></p>
</body>
<script>
prob = {{ probabilidad }};
function v(){
    for (i = 0; i <= prob; i++) {
	(function (i) {
        setTimeout(function () {
        text = "El souvenir del clima dice: "+ i + "% de probabilidad de precipitaciones";
        value = i + 20 + "deg";
        document.getElementById("porcentaje").innerHTML = text;
        document.getElementById("virgencita").style.filter = "hue-rotate("+ value +")";}, 30*i);
    })
    (i);
    };
};
</script>
